*.pyc
*.pth
*.whl
*.swp

data/
ckpt/
work_dirs*/
dist_test/
vis/
val/
lib/

*.egg-info
build/
__pycache__/
*.so

job_scripts/
temp_ops/

*.onnx
*.pkl
*.log
model_anchor_confi/

_tmp_*.py 
_tmp_*.bat 

deploy/artifacts/eval_*/*.pkl
deploy/artifacts/eval_*/plots/
deploy/artifacts/eval_*/metrics_details.json
deploy/artifacts/eval_*/results_nusc.json

_official/
*.err
