[Unit]
Description=SparseDrive perception node (%i)
Requires=sp-filesrc@%i.service
After=sp-filesrc@%i.service
# systemd 245: StartLimit* 属于 [Unit], 放 [Service] 会被静默忽略
StartLimitIntervalSec=120
StartLimitBurst=5

[Service]
Type=simple
EnvironmentFile=/etc/sp/%i.env
# Phase D: 服务创建的一切文件 (日志/输出/新 shm) 走 0640 语义
UMask=0027
ExecStart=/usr/local/bin/sp_modelnode ${SP_RING} ${SP_MODELS_DIR}/e_bb2.engine \
  ${SP_PLUGIN} ${SP_MANIFEST} ${SP_OUT} \
  --hd ${SP_MODELS_DIR}/e_hd.engine --mp ${SP_MODELS_DIR}/e_mp.engine \
  $SP_NODE_ARGS
Restart=on-failure
RestartSec=1s
StandardOutput=append:/var/log/sp/node-%i.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
